.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.add-new {
  background: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}

.user-icon {
  font-size: 24px;
  text-align: right;
}
.header-bar {
  display: flex;
  justify-content: space-between;
}

.airport-list {
  margin-top: 20px;
}

.airport-list h2 {
  margin-bottom: 20px;
}

.airport-list table {
  width: 100%;
  border-collapse: collapse;
}

.airport-list th,
.airport-list td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.airport-list th {
  background: #f4f4f4;
}
.decoration {
  text-decoration: none;
}
